@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --blue-color: #5095ec;
  --black-color: #505050;
  --second-tx-color: #8f8f8f;
  --grey-color: #d3d8de;
  --bg-color: #f1f1f1;
  --white-color: #ffffff;
  --bg2-color: #fafafa;
  --green-color: #47b091;
  --red-color: #e33939;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--bg-color);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: var(--black-color);
}
button {
  color: inherit;
  background-color: inherit;
  border: 0;
  border-radius: 0;
}
a {
  text-decoration: none;
  color: var(--blue-color);
}

header {
  display: flex;
  justify-content: space-between;
  height: 64px;
  background-color: var(--white-color);
  text-align: center;
}
.header_left {
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 32px;
}
.header_back-btn {
  margin-right: 8px;
  border-radius: 3px;
}
.header_crumbles {
  font-size: 18px;
  font-weight: 500;
}
.header_crumbles-last {
  font-weight: 400;
}
.header_right {
  display: flex;
  align-items: center;
  height: 100%;
  margin-right: 32px;
}
.header_right-btn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 16px;
  height: 100%;
  padding: 8px;
}

.header_right-btn:hover,
.header_back-btn:hover {
  background-color: var(--grey-color);
  cursor: pointer;
}

.header_right-btn-ico {
  width: 24px;
  height: 24px;
  object-fit: cover;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding: 0 32px;
  background-color: var(--bg2-color);
  text-align: center;
  border: 1px solid var(--grey-color);
}
.nav_left {
  display: flex;
}
.nav_tab-btn,
.nav_tab-btn--active,
.nav_tab-settings-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  padding: 10px 16px;
  color: var(--black-color);
}

.nav_tab-btn--active {
  background-color: var(--grey-color);
}

.nav_tab-btn:hover,
.nav_tab-settings-btn:hover {
  background-color: var(--grey-color);
  cursor: pointer;
}

.nav_btn-icon,
.nav_btn-list-icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}
.nav_right {
  display: flex;
}

main {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  padding: 32px;
}
main section {
  background-color: var(--white-color);
}
.main_posts {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.posts_post,
.posts_post--folded {
  padding: 0 32px;
}
.posts_post {
  padding-bottom: 32px;
}
.post_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  font-size: 16px;
}
.post_image {
  width: 100%;
  object-fit: fill;
}
.post_comments {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 16px 0;
}
.comments_comment {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.comment_header {
  display: flex;
  align-items: center;
  gap: 4px;
}
.comment_ico {
  width: 24px;
  height: 24px;
}
.comment_author-link {
  color: var(--blue-color);
  text-decoration: none;
}
.comment_author-link:hover {
  text-decoration: underline;
}
.comment_content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-left: 8px;
  border-left: var(--grey-color) 2px solid;
}
.comment_signature {
  color: var(--second-tx-color);
}
.comment_stats-left-wrap {
  display: flex;
  gap: 32px;
}
.comment_stats-comments,
.comment_stats-views {
  display: flex;
  align-items: center;
  gap: 8px;
}
.comment_stats-ico {
  width: 24px;
  height: 24px;
}
.post_header-right-wrap {
  display: flex;
  align-items: center;
  gap: 16px;
}
.post_header-time-ico {
  margin-right: -8px;
  width: 24px;
  height: 24px;
}
.post_header-unfold {
  width: 24px;
  height: 24px;
}
.post_header-unfold-ico {
  width: inherit;
  height: inherit;
}
.main_right {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.main_profile-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  width: 264px;
  height: 296px;
  padding: 32px 0;
}
.profile-card_photo {
  width: 132px;
  height: 132px;
  border-radius: 100%;
  background-image: url("src/prifile-photo.jpeg");
  background-position: 50% 0%;
  background-size: 120%;
}

.profile-card_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.profile-card_name {
  font-size: 18px;
}
.profile-card_job {
  color: var(--second-tx-color);
}
.profile-card_contacts {
  display: flex;
  gap: 8px;
}
.profile-card_link-ico {
  width: 20px;
  height: 20px;
}

.main_nav-menu--unfolded {
}
.nav-menu_header {
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
}
.nav-menu_header-text {
  font-weight: 500;
}
.nav-menu_header-arrow {
  width: 20px;
  height: 20px;
}
.nav-menu_section {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px 0;
  border-top: var(--grey-color) 1px solid;
}
.nav-menu_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
}
.nav-menu_item-left {
  display: flex;
  align-items: center;
  gap: 16px;
}
.nav-menu_item-ico {
  width: 24px;
  height: 24px;
}
.nav-menu_item-name {
}
.nav-menu_item-right {
  display: flex;
  align-items: center;
}
.nav-menu_item-value,
.nav-menu_item-value--gery,
.nav-menu_item-value--red,
.nav-menu_item-value--green {
  padding: 1px 5px;
  border-radius: 10px;
  font-size: 12px;
  color: var(--white-color);
}
.nav-menu_item-value--gery {
  padding: 0;
  background: none;
  color: var(--second-tx-color);
}
.nav-menu_item-value--red {
  background: var(--red-color);
}
.nav-menu_item-value--green {
  background: var(--green-color);
}

.main_posting-menu {
}
